
<body th:fragment="body">
<div class="nav-bar">
    <div class="row">

        <div class="col-3">
            <div class="nav-link">
                <a href="/"><span class="logo"><i class="fa fa-usd" aria-hidden="true"></i>No Precinho</span></a>
            </div>
        </div>

        <div class="col-3">
            <div class="nav-link">
                <a href="/listings"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Itens</a>
            </div>
        </div>

        <div class="col-3">
            <div class="nav-link">
                <a href="/items"><i class="fa fa-list" aria-hidden="true"></i>Lista</a>
            </div>
        </div>

        <div class="col-3">
            <div class="nav-link">
                <a href="/user"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Usuario</a>
            </div>
        </div>


    </div>
</div>


</body>
