.shopping-list h2{
    justify-content: center;
}
.shopping-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.badge-cheapest{
    color: #04ac01;
    font-weight: bold;
}